<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home"> <strong> Bookex </strong> </a>
    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a routerLink="/library" *ngIf="_loginService.isLogged()">Meus livros</a></li>
        <li><a routerLink="/wishes" *ngIf="_loginService.isLogged()">Desejos</a></li>
        <li><a routerLink="/combinations" *ngIf="_loginService.isLogged()">Trocas</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/register" *ngIf="! _loginService.isLogged()" >Registrar</a></li>
        <li><a routerLink="/login" *ngIf="! _loginService.isLogged()" >Login</a></li>
        <li><a routerLink="/login" (click)="logout()" *ngIf="_loginService.isLogged()" >Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<profile [user]="_loginService.loggedUser" *ngIf="_loginService.isLogged()"> </profile>

<router-outlet> </router-outlet>